.out{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border : 2px solid white;
    width: 700px;
    height: 500px;
}

.jod{
    justify-content: center;
    display: flex;
}

.hold{
    display: flex;
    border: 2px #c3c3c3 dashed;
    width: 400px;
    height: 200px;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.para{
    color: #c3c3c3;
    font-size: 20px;
}

.rang{
    background-color: lightgreen;
    transition: '1s';
}