.jod{
    margin-top: 70px;
    display: flex;
}

.btn{
    margin: 7px;
    width: 300px;
    height: 100px;
    font-size: 30px;
    padding-top: 25px;
}

.contain{
    display:flex;

}
input{
    width: 300px;
    height: 50px;
    margin: 15px;
    padding: 10px;
    font-size: 30px;
}